/* layout */
#wrap {width: 100%;}
#header {background-color: #fff;}
#banner {width: 100%; height: 470px; background-color: #888;}
#contents {}
#footer {}

/* container */
.container {width: 1200px; margin: 0 auto; /*background-color: rgba(0,0,0,0.4);*/}

/* cont layout */
#cont1 {width: 100%; height: 940px; background-color: #f5f6f8;}
#cont2 {width: 100%; height: 555px; background-color: #efefef;}

/* footer layout */
#footer_notice {width: 100%; height: 71px; background-color: #fff;}
#footer_info {width: 100%; height: 240px; background-color: #f7f8f9;}

/* header */
.header {overflow: hidden; font-family: "hanaB";}
.header li a {display: block; padding: 11px 15px; font-size: 13px;}

.header .list1 {float: left; overflow: hidden;}
.header .list1 li {float: left;}
.header .list1 li.green a {background-color: #00907f; color: #fff;} 
.header .list1 li a {color: #333;}
.header .list2 {float: right; overflow: hidden;}
.header .list2 li {float: left;}
.header .list2 li a {color: #797979;}